<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Genesys.WebServicesClient.Sample.Agent.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!--
      <source name="Genesys.WebServicesClient">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Windows.Data">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      -->
    </sources>
    <switches>
      <add name="Genesys.WebServicesClient" value="All"/>
      <add name="System.Windows.Data" value="Warning"/>
      <add name="System.Net" value="Off"/>
      <add name="System.Net.Cache" value="Off"/>
      <add name="System.Net.Http" value="All"/>
      <add name="System.Net.Sockets" value="Off"/>
      <add name="System.Net.WebSockets" value="Off"/>
    </switches>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener"
           traceOutputOptions="Timestamp"/>
      <!-- traceOutputOptions="Timestamp,Callstack,DateTime,LogicalOperationStack,ProcessId,ThreadId" -->
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <userSettings>
    <Genesys.WebServicesClient.Sample.Agent.WPF.Properties.Settings>
      <setting name="GenesysServerUri" serializeAs="String">
        <value>http://localhost:5088</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>ksippo</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenConnectionTimeoutMs" serializeAs="String">
        <value>30000</value>
      </setting>
    </Genesys.WebServicesClient.Sample.Agent.WPF.Properties.Settings>
  </userSettings>
</configuration>
